.footer {
    padding: 30px;
    width: 100%;
    border: 3px solid rgb(255, 94, 0);
    border-top: none;
}

.footer-contacts-container {
    text-align: center;
    margin-bottom: 20px;
}    
.footer-contacts-list {
    margin-top: 10px;
    .item {
        margin-bottom: 6px;
    }
    .link {
        font-family: 'Edu SA Beginner', cursive;
        font-weight: 300;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
    }
    .mail-link {
        font-family: 'Edu SA Beginner', cursive;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: normal;
        text-align: center;
        display: block;
        color: #FFFFFF;
        margin-top: 8px;
    }
}
.footer-social-list {
    display: flex;
    flex-direction: column;
    .item:first-child {
        margin-bottom: 10px;
    }
    .link {
        font-family: 'Edu SA Beginner', cursive;
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: normal;
        color: rgb(255, 255, 255);
    }
    .footer-social-icon-container {
        background-color: #FFFFFF;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 10px;
    }
}
.footer-social-icon {
    display: inline-block;
    fill: white;
    width: 40px;
    height: 40px;
}
.telegramm-icon {
    fill: #2196F3;
}
.footer-social-btn {
    padding: 3px 60px;
    background-color: rgb(255, 94, 0);
    border-radius: 30px;
    border: none;
    display: block;
    margin: 0 auto;
}
.instagram-icon {
    fill:  rgb(255, 255, 255);
    margin-left: 10px;
}
@media screen and (min-width: 768px) {  
    .footer {
        padding: 40px;
    }
    .footer-contacts-container {
        display: block;
        text-align: center;
    }
    .footer-contacts-list {
        margin-top: 10px;
        .item {
            margin-bottom: 10px;
        }
        .link {
            font-size: 20px;
        }
        .mail-link {
            font-size: 20px;
        }
    }
    .footer-social-btn {
        padding: 5px 70px;
    }
    .footer-social-list {
        flex-direction: row;
        justify-content: center;
        .item {
            margin-right: 20px;
        }
        .item:last-child {
            margin-right: 0;
        }
        .link {
            font-size: 20px;
        }
    }
}
@media screen and (min-width: 1201px) {   
    .footer {
    padding: 60px;
   }
}
@media screen and (min-width: 1801px) {   
    .footer-contacts-list {
        margin-top: 15px;
        margin-bottom: 15px;
        .item {
            margin-bottom: 15px;
        }
        .link {
            font-size: 25px;
        }
        .mail-link {
            font-size: 25px;
        }
    }
    .footer-social-list {
        .item {
            margin-right: 23px;
        }
        .item:last-child {
            margin-right: 0;
        }
        .link {
            font-size: 23px;
        }
    }
    .footer-social-btn {
    padding: 10px 80px;
    }
}