@import '~node_modules/modern-normalize/modern-normalize.css';
.desctop-header-container {
    display: none;
}
.logo-img {
    height: auto;
    width: 200px;
}
.computer-header-container {
    display: none;
}
.base-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    background-color:rgb(0, 0, 0, 0.4);
    width: 100%;
}
.mobile-header-burger-btn {
    border: none;
    border-radius: 5px;
    background-color:rgb(0, 0, 0, 0);
}
.icon-burger {
    fill: #ff7d04;
    width: 100px;
    height: 50px;
}
.header-bottom-arrow-icon {
    fill: white;
    width: 30px;
    height: 30px;
}
.header-bottom-arrow-link {
    position: absolute;
    bottom: -25px;
    left: 50%;
}
.mobile-header-menu-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateY(-150%);
    height: auto;
    background-color: rgba(13, 11, 11, 0.6);
    padding: 50px;
    transition: transform 500ms linear;
}
.mobile-header-close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: white;
}
.mobile-header-close-icon {
    fill: white;
    width: 20px;
    height: 20px;
}
.mobile-header-nav-list {
    text-align: center;
    .header-btn {
        font-family: 'Edu SA Beginner', cursive;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 0.02em;
        line-height: 1.33;
        text-align: left;   
        border: none; 
        background-color: transparent;
        color: #d8d8d8;;
    }
    .item {
        margin-bottom: 20px;
    }
    .item:last-child {
        margin-bottom: 50px;
    }
}
.mobile-header-basket-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.mobile-icon-basket {
    width: 50px;
    height: 50px;
    fill: white;
}
.mobile-header-basket-span {
    position: absolute;
    right: -5;
    top: -5;
    font-size: 13px;
    color: #fafafa;
    background-color: #ff7b00;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.mobile-header-contacts-list {
    text-align: center;
    .item {
        margin-bottom: 10px;
    }
    .item:last-child {
        margin-bottom: 0;
    }
    .link {
        font-family: 'Edu SA Beginner', cursive;
        font-weight: 400;
        letter-spacing: 0.02em;
        font-size: 20px;
        text-align: left; 
        line-height: 1.33;
        color: #d8d8d8;
    }
}
.mobile-header-social-list {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
    .item {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid white;
    }
    .item:last-child {
        border: none;
    }
    .link {
        font-family: 'Edu SA Beginner', cursive;
        font-weight: 400;
        letter-spacing: 0.02em;
        font-size: 14px;
        text-align: left; 
        line-height: 1.33;
        color: white;
        
    }
}
.header-basket-link {
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.icon-basket {
    width: 50px;
    height: 50px;
    fill: rgb(226, 224, 224);
  }
  .header-basket-span {
    font-size: 13px;
    color: #fafafa;
    background-color: #ff7b00;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: -5;
    top: -5;
  }

  @media screen and (min-width: 768px) {
    .header {
        padding: 10px 0px;
        margin-bottom: 10px;
    }
    .base-header-container {
        display: none;
    }
    .desctop-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .desctop-header-basket-link {
       text-decoration: none;
       position: fixed;
       bottom: 20px;
       right: 5%;
    }
    .desctop-header-menu-btn {
        display: flex;
        align-items: center;
        font-weight: 500;
        letter-spacing: 0.02em;
        font-size: 20px;
        text-align: left; 
        line-height: 1.33;
        background-color: rgb(255, 94, 0);
        color: white;
        border-radius: 5px;
        border: none;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;      
    }
    .desctop-header-menu-icon {
        fill: white;
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
    .desctop-header-contacts-list {
        display: flex;
        align-items: center;
        .item {
            margin-right: 20px;
        }
        .item:last-child {
            margin-right: 0px;
        }
        .link {
            font-family: 'Edu SA Beginner', cursive;
            font-weight: 400;
            letter-spacing: 0.02em;
            font-size: 16px;
            text-align: left; 
            line-height: 1.33;
            color: white;
        }
    }
  }
  @media screen and (min-width: 1201px) {
    .header {
        margin-bottom: 10px;
    }
    .mobile-header-menu-container {
       display: none;
    }
    .desctop-header-container {
        display: none;
    }
    .computer-header-container {
        display: flex;
        align-items: center;
    }
    .computer-header-nav-list {
        display: flex;
        align-items: center;
        .link {
            font-family: 'Edu SA Beginner', cursive;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 0.03em;
            line-height: 1.22;
            color: white;
            display: block;
            padding: 30px 5px;
        }
        .item {
            margin-left: 20px;
        }
        .item:first-child {
            margin-left: 60px;
        }
    }
    .computer-header-contacts-list {
        margin-left: auto;
        display: flex;
        align-items: center;
        .link {
            font-family: 'Edu SA Beginner', cursive;
            font-weight: 500;
            letter-spacing: 0.02em;
            font-size: 18px;
            line-height: 1.33;
            padding: 30px 5px;
            color: white;
        }
        .item:first-child {
            margin-right: 20px;
        }

    }
    .computer-header-basket-link {
        text-decoration: none;
        position: fixed;
        bottom: 40px;
        right: 40px;
    }
    .computer-icon-basket {
        width: 80px;
        height: 80px;
        fill: rgb(226, 224, 224);
      }
      .computer-header-basket-span {
        font-size: 18px;
        color: #fafafa;
        background-color: #ff7b00;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        right: -5;
        top: -5;
      }
}
@media screen and (min-width: 1801px) {
    .computer-header-nav-list {
        .link {
            font-size: 20px;
            line-height: 1.33;
            padding: 35px 6px;
        }
        .item {
            margin-left: 30px;
        }
        .item:first-child {
            margin-left: 80px;
        }
    }
    .computer-header-contacts-list {
        .link {
            font-size: 20px;
            line-height: 1.33;
            padding: 35px 6px;
        }
        .item:first-child {
            margin-right: 30px;
        }

    }
}