@keyframes heroAnimetion {
    0% { 
        transform: translate(0%, 0%);
        z-index: 1;
    }
    3% {
        transform: translate(120px, 92px);
        width: 900px;
    }
 
    20% {
        transform: translate(120px, 92px);
        width: 900px;
    }
    24% {
        transform: translate(0%, 0%);
        width: 555px;
        z-index: 1;
    }
    25% {
        z-index: 0;
        
    }
    100% {
        transform: translate(0%, 0%);
    }
  }
  @keyframes heroAnimetion2 {
    0% { 
        transform: translate(0%, 0%);
        z-index: 0;
    }
    25% {
        z-index: 0;
    }
    26% {
        transform: translate(0%, 0%);
        z-index: 1;    
        width: 555px; 
    }
    29% {
        transform: translate(-120px, 92px);
        width: 900px;
    }
 
    45% {
        transform: translate(-120px, 92px);
        width: 900px;
    }
    49% {
        transform: translate(0%, 0%);
        width: 555px;
        z-index: 1;
    }
    50% {
        z-index: 0;
        
    }
  }
  @keyframes heroAnimetion3 {
    0% { 
        transform: translate(0%, 0%);
        z-index: 0;
    }
    50% {
        z-index: 0;
    }
    51% {
        transform: translate(0%, 0%);
        width: 555px; 
        z-index: 1;     
    }
    54% {
        transform: translate(120px, -320px);
        width: 900px;
    }
 
    71% {
        transform: translate(120px, -320px);
        width: 900px;
    }
    74% {
        transform: translate(0%, 0%);
        width: 555px;
        z-index: 1;
    }
    75% {
        z-index: 0;
        
    }
  }

  @keyframes heroAnimetion4 {
    0% { 
        transform: translate(0%, 0%);
        z-index: 0;
    }
    75% {
        z-index: 0;
    }
    76% {
        transform: translate(0%, 0%);
        width: 555px; 
        z-index: 1;     
    }
    79% {
        transform: translate(-120px, -320px);
        width: 900px;
    }
 
    96% {
        transform: translate(-120px, -320px);
        width: 900px;
    }
    99% {
        transform: translate(0%, 0%);
        width: 555px;
        z-index: 1;
    }
    100% {
        z-index: 0;
        
    }
  }
.img-hero-container {
    height: 450px;
}
.hero-advantage-list {
    display: none;
}
.section-hero {
    padding: 30px 0;
    // background-image: url(../images/9c4721fbb621d43e630199d13e42daae-quality_100Xresize_crop_1Xallow_enlarge_0Xw_680Xh_510.jpg);
}
@media screen and (min-width: 1201px) {
    .img-hero-container {
        display: none;
    }
    .hero-computer-container {
        width: 100%;
        height: 100%;
    }
    .hero-advantage-list {
        width: 1140px;
        height: 780px;
        display: block;
        margin: 0 auto;
        position: relative;
        .item:nth-child(1) {
            position: absolute;
            top: 0;
            left: 10px;
            width: 555px;
            height: 375px;
            margin-bottom: 2%;
            animation: heroAnimetion 32s infinite;
        }
        .item:nth-child(2) {
            position: absolute;
            top: 0;
            right: 10px;
            width: 555px;
            height: 375px;
            margin-bottom: 2%;
            animation: heroAnimetion2 32s infinite;
        }
        .item:nth-child(3) {
            position: absolute;
            bottom: 0;
            left: 10px;
            width: 555px;
            height: 375px;
            margin-bottom: 2%;
            animation: heroAnimetion3 32s infinite;
        }
        .item:nth-child(4) {
            position: absolute;
            bottom: 0;
            right: 10px;
            width: 555px;
            height: 375px;
            margin-bottom: 2%;
            animation: heroAnimetion4 32s infinite;
        }
        .item:nth-child(2n) {
            margin-left: 2%;
        }
       
    } 
   
   
}