@keyframes rainbow {
 0% {
    background-image: url(../images/imgonline-com-ua-Resize-K8Be91N6XJYR.jpg);
 }  
 45% {
    background-image: url(../images/imgonline-com-ua-Resize-K8Be91N6XJYR.jpg);
 }
 50% {
    background-image: url(../images/imgonline-com-ua-Resize-DXysU7GvksG3raAp.jpg);
 }
 95% {
    background-image: url(../images/imgonline-com-ua-Resize-DXysU7GvksG3raAp.jpg);
 }
 100% {
    background-image: url(../images/imgonline-com-ua-Resize-K8Be91N6XJYR.jpg);
 }
}



.section-hero {
    height: 440px;
    animation: rainbow 10s infinite;
    background-size: cover;
    border-bottom: 3px solid rgb(255, 115, 0);
}
.hero-title {
   font-family: 'Edu SA Beginner', cursive;
   font-weight: 400;
   letter-spacing: 0.02em;
   font-size: 20px;
   line-height: 1.33;
   color: white;
   text-align: center;
   padding-top: 200px;
}
@media screen and (min-width: 768px) {  
   .section-hero {
      height: 600px;
  }
  .hero-title {
   padding-top: 300px;
   font-size: 30px;
  }
}
@media screen and (min-width: 1201px) {  
   .section-hero {
      height: 800px;
  }
  .hero-title {
   padding-top: 400px;
   font-size: 40px;
  }
}
@media screen and (min-width: 1801px) { 
   .section-hero {
      height: 1200px;
  }
  .hero-title {
   padding-top: 600px;
   font-size: 50px;
  }
   
}