.arrow-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.arrow-6 svg {
    width: 45px;
    height: auto;
    cursor: pointer;
    overflow: visible;
}
.arrow-6 svg polygon, 
.arrow-6 svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #ffffff;
}
.arrow-6 svg:hover polygon, 
.arrow-6 svg:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: rgb(243, 77, 0);
}
.arrow-6 svg:hover .arrow-6-pl {
    animation: arrow-6-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.arrow-6 svg:hover .arrow-6-pl-fixed {
    animation: arrow-6-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
 
@keyframes arrow-6-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
@keyframes arrow-6-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.desctop-product-btn-list {
    display: none;
}
.product-section {
    padding: 50px 0px;
}
.product-main-title {
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 0.06em;
    line-height: 42px;
    text-align: center;    
    margin: 0 20px;
    color: white;
}
.product-popular-list {
    .item {
        margin-bottom: 20px;
    }
    .product-card-container {
        margin: 0 auto;
        width: 70%;
        border: 1px solid black;
        border-radius: 10px;
        overflow: hidden;
        background-color: #f0ebeb;
        transition: box-shadow, transform 250ms linear;
    }
    .product-card-container:hover,
    .product-card-container:focus {
        transform: scale(1.10);
        box-shadow: 10px 10px 8px 2px rgba(235, 231, 231, 0.3);
    }
    .product-card-text-container {
        border-top: 1px solid black;
        padding: 10px;
    }
    .product-card-title {
        font-family: 'Ibarra Real Nova', serif;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 0.03em;
        line-height: 1.22;
        text-align: center;  
        color: rgb(2, 0, 0); 
        margin-bottom: 20px;     
    }
    .product-card-btn {
        font-family: 'Edu SA Beginner', cursive;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.03em;
        line-height: 1.22;
        background-color: rgb(255, 102, 0);
        color: #ffffff;
        display: block;
        margin: 0 auto;
        padding: 10px 40px;
        border: none;
        border-radius: 30px;

    }
}
.product-category-btn {
    font-family: 'Edu SA Beginner', cursive;
    position: fixed;
    left: 30px;
    bottom: 30px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.03em;
    line-height: 1.22;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    
}
.product-category-icon {
    fill: white;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
@media screen and (min-width: 768px) { 
    .product-main-title  {
        display: none;
    }
    .arrow-6 {
        display: none;
    }
    .product-popular-list {
        display: flex;
        flex-wrap: wrap;
        .product-card-title {
            font-size: 28px;
        }
        .product-card-container {
            width: 100%;
        }
        .item {
            width: 49%;
        }
        .item:nth-child(2n) {
            margin-left: 2%;
        }
        .product-card-btn {
            font-size: 20px;
            padding: 5px 40px;
        }
    }
    .desctop-product-btn-list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        .item {
            margin-right: 20px;
        }
        .item:last-child {
            margin-right: 0;
        }
        .product-btn  {
            font-family: 'Edu SA Beginner', cursive;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0.03em;
            text-align: center;
            border-radius: 30px;
            background-color: rgb(255, 85, 0);
            color: white;
            padding: 3px 10px;
            border: none;
            transition: transform 250ms linear;
        }
        .product-btn:hover,
        .product-btn:focus {
            transform: scale(1.15);
        }
    }
}
@media screen and (min-width: 1201px) {
    .product-section {
        padding: 80px 0px;
    }
    .product-popular-list {
        .item:nth-child(2n) {
            margin: 0%;
        }
        .item {
            width: 32%;
        }
    
        .item:nth-child(3n + 2) {
            margin-right: 2%;
            margin-left: 2%;
        }
        .product-card-btn {
            font-size: 18px;
            padding: 8px 35px;
        }
        .product-card-title {
            font-size: 28px;
        }
    }
    .desctop-product-btn-list{
        margin-bottom: 50px;
        .product-btn {
            font-size: 22px;
            padding: 8px 30px;
        }
    }
} 
@media screen and (min-width: 1801px) {
    .product-section {
        padding: 100px 0px;
    }
    .product-popular-list {
        .product-card-btn {
            font-size: 20px;
            padding: 10px 40px;
        }
        .product-card-title {
            font-size: 32px;
        }
    }
    .desctop-product-btn-list{
        .product-btn {
            font-size: 25px;
            padding: 10px 40px;
        }
    }
}