   <footer class="footer">
    <div class="container">
      <div class="footer-contacts-container">
        <ul class="footer-contacts-list">
    <li class="item">
      <a href="tel:+38(098)185-44-55" class="link">+38(098)185-44-55</a>
    </li>
    <li class="item">
      <address class="link">г. Киев, пр-т Леси Украинки, 26</address>
    </li>
     <li class="item">
      <a href="" class="link mail-link">info@devstudio.com</a>
    </li> 
        </ul>
      </div>
      
      <ul class="footer-social-list">
       <li class="item">
        <button class="footer-social-btn">
          <a href="https://www.instagram.com/" class="link">
            Instagram
            <svg class="footer-social-icon instagram-icon">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
           </a>
        </button>
       </li>
       <li class="item telegramm-item">
        <button class="footer-social-btn">
          <a href="" class="link">
            Telegram
            <div class="footer-social-icon-container">
              <svg class="footer-social-icon telegramm-icon">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </div>
           </a>
        </button>
        </li>
      </ul>
  </div>
    </footer>