<header class="header">  
  <div class="container">
    <div class="base-header-container">
      <a href="" class="logo-link">
        <img src="./images/LOGO PNG.png" alt="" class="logo-img">
      </a>     
        <button class="mobile-header-burger-btn">
          <svg class="icon-basket">
            <use href="./images/sprite.svg#icon-menu_40px"></use>
          </svg>
        </button>
    </div>
  <div class="mobile-header-menu-container">
    <button class="mobile-header-close-button">
      <svg class="mobile-header-close-icon">
        <use href="./images/sprite.svg#icon-Vector-17"></use>
      </svg>
    </button>
    <nav class="mobile-header-nav">
      <ul class="mobile-header-nav-list">
        <li class="item">
          <button class="header-btn">Главная</button>     
        </li>
        <li class="item">
          <button class="header-btn">Живые Раки</button>
          </li>
        <li class="item">
          <button class="header-btn">Дохлые Раки</button>
          </li>
        <li class="item">
          <button class="header-btn">Гнилые Раки</button></li>
      </ul>
    </nav>
    <div class="header-basket-container">
      <a href="" class="header-basket-link">
        <span class="header-basket-span">0</span>
        <svg class="icon-basket">
          <use href="./images/sprite.svg#icon-cart"></use>
        </svg>
      </a>
    </div>
    <ul class="mobile-header-contacts-list">
      <li class="item">
        <a href="tel:+38(098)185-44-55" class="link">+38(098)185-44-55</a>
      </li>
      <li class="item">
        <a href="" class="link">info@devstudio.com</a>
      </li>
    </ul>
    <ul class="mobile-header-social-list">
       <li class="item">
        <a href="" class="link">Instagram</a>
       </li>
       <li class="item">
        <a href="" class="link">Telegramm</a>
       </li>
    </ul>
  </div>
  <div class="desctop-header-container">
    <a href="" class="logo-link">
      <img src="./images/LOGO PNG.png" alt="" class="logo-img">
    </a>     
    <a href="" class="desctop-header-basket-link">
      <span class="header-basket-span">0</span>
      <svg class="icon-basket">
        <use href="./images/sprite.svg#icon-cart"></use>
      </svg>
    </a>
    <button class="desctop-header-menu-btn">Меню
      <svg class="desctop-header-menu-icon">
          <use href="./images/sprite.svg#icon-circle-down"></use>
      </svg>
  </button>
    <ul class="desctop-header-contacts-list">
      <li class="item">
        <a href="tel:+38(098)185-44-55" class="link">+38(098)185-44-55</a>
      </li>
      <li class="item">
        <a href="" class="link">info@devstudio.com</a>
      </li>
    </ul>
  </div>
  <div class="computer-header-container">
    <a href="" class="header-basket-link">
      <span class="header-basket-span">0</span>
      <svg class="icon-basket">
        <use href="./images/sprite.svg#icon-cart"></use>
      </svg>
    </a>
    <a href="" class="logo-link">
      <img src="./images/LOGO PNG.png" alt="" class="logo-img">
    </a>    
    <nav class="computer-header-nav">
      <ul class="computer-header-nav-list">
        <li class="item">
          <a href="" class="link">Главная</a>
        </li>
        <li class="item">
          <a href="" class="link">Живые Раки</a>
          </li>
        <li class="item">
          <a href="" class="link">Дохлые Раки</a>
          </li>
        <li class="item">
          <a href="" class="link">Гнилые Раки</a>
      </ul>
    </nav>
    <ul class="computer-header-contacts-list">
      <li class="item">
        <a href="tel:+38(098)185-44-55" class="link">+38(098)185-44-55</a>
      </li>
      <li class="item">
        <a href="" class="link">info@devstudio.com</a>
      </li>
    </ul>
  </div>
  </div>
</header>