<header>  
  <div class="container">
    <a href="">Лого<SPan>Тип</SPan></a>
  <a href="tel:+38(098)185-44-55">+38(098)185-44-55</a>
    <div>
      <a href="">
        <input type="checkbox" checked>
        <span></span>
    </div>
  </a>
  <a href="">Виды раков</a>
  <a href="" class="header-basket-link">
    <span class="header-basket-span">0</span>
    <svg class="icon-basket">
      <use href="./images/sprite.svg#icon-cart"></use>
    </svg>
  </a>
  <div>
    <nav>
      <ul>
        <li class="item">Главная</li>
        <li class="item">Живые Раки</li>
        <li class="item">Дохлые Раки</li>
        <li class="item">Гнилые Раки</li>
      </ul>
    </nav>
  </div>
  </div>
</header>