<header class="header">  
  <div class="container">
    <div class="base-header-container">
      <a href="" class="logo-link">Лого<SPan class="logo-span">Тип</SPan></a>     
        <button class="mobile-header-burger-btn">
          <svg class="icon-basket">
            <use href="./images/sprite.svg#icon-menu_40px"></use>
          </svg>
        </button>
    </div>
  <div class="mobile-header-menu-container">
    <button class="mobile-header-close-button">
      <svg class="mobile-header-close-icon">
        <use href="./images/sprite.svg#icon-Vector-17"></use>
      </svg>
    </button>
    <nav class="mobile-header-nav">
      <ul class="mobile-header-nav-list">
        <li class="item">
          <button class="header-btn">Главная</button>     
        </li>
        <li class="item">
          <button class="header-btn">Живые Раки</button>
          </li>
        <li class="item">
          <button class="header-btn">Дохлые Раки</button>
          </li>
        <li class="item">
          <button class="header-btn">Гнилые Раки</button></li>
      </ul>
    </nav>
    <div class="header-basket-container">
      <a href="" class="header-basket-link">
        <span class="header-basket-span">0</span>
        <svg class="icon-basket">
          <use href="./images/sprite.svg#icon-cart"></use>
        </svg>
      </a>
    </div>
    <ul class="mobile-header-contacts-list">
      <li class="item">
        <a href="tel:+38(098)185-44-55" class="link">+38(098)185-44-55</a>
      </li>
      <li class="item">
        <a href="" class="link">info@devstudio.com</a>
      </li>
    </ul>
    <ul class="mobile-header-social-list">
       <li class="item">
        <a href="" class="link">Instagram</a>
       </li>
       <li class="item">
        <a href="" class="link">Telegramm</a>
       </li>
    </ul>
  </div>
  </div>
</header>