<section class="section-hero">
    <div class="container">

<div class="img-hero-container">
   
     
    </div>

    <div class="hero-computer-container">
        <ul class="hero-advantage-list">
            <li class="item">
             <div class="hero-card-container lalka">
                 <img src="./images/9c4721fbb621d43e630199d13e42daae-quality_100Xresize_crop_1Xallow_enlarge_0Xw_680Xh_510.jpg" alt="">
             </div>
            </li>
            <li class="item">
             <div class="hero-card-container">
                 <img src="./images/9c4721fbb621d43e630199d13e42daae-quality_100Xresize_crop_1Xallow_enlarge_0Xw_680Xh_510.jpg" alt="">
             </div>
            </li>
            <li class="item">
             <div class="hero-card-container">
                 <img src="./images/9c4721fbb621d43e630199d13e42daae-quality_100Xresize_crop_1Xallow_enlarge_0Xw_680Xh_510.jpg" alt="">
             </div>
            </li>
            <li class="item">
             <div class="hero-card-container">
                 <img src="./images/9c4721fbb621d43e630199d13e42daae-quality_100Xresize_crop_1Xallow_enlarge_0Xw_680Xh_510.jpg" alt="">
             </div>
            </li>
            
             </ul>
    </div>
        


</div>
</section> 