<section>
    <div class="container">

<div class="img-hero-container">
   
        <img src="./images/render-photo-2.jpg" alt="">
    </div>

    <div class="hero-computer-container">
        <ul class="hero-advantage-list">
            <li class="item">
             <div class="hero-card-container lalka">
                 <img src="./images/render-photo-2.jpg" alt="">
             </div>
            </li>
            <li class="item">
             <div class="hero-card-container">
                 <img src="./images/render-photo-2.jpg" alt="">
             </div>
            </li>
            <li class="item">
             <div class="hero-card-container">
                 <img src="./images/render-photo-2.jpg" alt="">
             </div>
            </li>
            <li class="item">
             <div class="hero-card-container">
                 <img src="./images/render-photo-2.jpg" alt="">
             </div>
            </li>
            
             </ul>
    </div>
        


</div>
</section> 