<section class="product-section">
    <div class="container">
        <ul class="desctop-product-btn-list">
            <li class="item">
              <button class="product-btn">Популярные</button>     
            </li>
            <li class="item">
              <button class="product-btn">Живые Раки</button>
              </li>
            <li class="item">
              <button class="product-btn">Дохлые Раки</button>
              </li>
            <li class="item">
              <button class="product-btn">Гнилые Раки</button></li>
          </ul>
        <button class="product-category-btn">Категории
            <svg class="product-category-icon">
                <use href="./images/sprite.svg#icon-circle-up"></use>
            </svg>
        </button>
        <div class="category-container">

        </div>

    <div class="arrow-6">
        <svg width="14px" height="13px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="arrow-margin-icon">
            <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
            </g>
        </svg>
        <h2 class="product-main-title">Популярные товары</h2>
        <svg width="14px" height="13px" viewBox="-1 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g>
                <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
            </g>
        </svg>
    </div>
<ul class="product-popular-list">
    <li class="item">
        <div class="product-card-container">
            <img src="./images/9c4721fbb621d43e630199d13e42daae-quality_100Xresize_crop_1Xallow_enlarge_0Xw_680Xh_510.jpg" alt="">
            <div class="product-card-text-container">
                <h4 class="product-card-title">Tomato Boom</h4>
                <button class="product-card-btn product-card-btn1">Подробнее</button>
            </div>
        </div>
        <div class="product-card-info-container">
            <div class="product-card-img-container">
                <img src="./images/9c4721fbb621d43e630199d13e42daae-quality_100Xresize_crop_1Xallow_enlarge_0Xw_680Xh_510.jpg" alt="" class="product-info-img">
            </div>       
        <p class="product-card-info-text">Cамый топовый рецепт. А все потому что...BOOM! И ты подсел! Состав: Свежие помидоры чери, перец чили,
         томатный сок и сочетание трав трёх стран : Мексика, Эфиопия, Тайланд. Скажу просто, это взрыв ваших 
         вкусовых рецепторов!</p>
         <h4 class="product-size-title">Выберите размер:</h4>
         <div class="product-size-container">
            <div class="product-size">M</div>
            <div class="product-size">L</div>
            <div class="product-size">XL</div>
         </div>
        <div class="product-price-container">
            <span class="product-price">250</span>
            <span class="product-text-price">грн/кг</span>
        </div>
        <div class="product-basket-container">
         <div class="product-basket-input-container">
            <span class="product-basket-input-text">-</span>
            <input type="number" value="1" class="product-basket-input">
            <span class="product-basket-input-text">+</span>
         </div>
         <button class="product-basket-btn">Добавте в корзину</button>
      
         <div class="product-close-container">  
            <div class="product-close-link">
                <svg class="product-close-icon">
                    <use href="./images/sprite.svg#icon-circle-left"></use>
                </svg> 
            </div>           
        </div>
    <div class="arrow-6">
        <svg width="14px" height="13px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="arrow-margin-icon">
            <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
            </g>
        </svg>
        <h2 class="product-main-title">TOMATO BOOM</h2>
        <svg width="14px" height="13px" viewBox="-1 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g>
                <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
            </g>
        </svg>
    </div>
        </div>
        </div>
    </li>
    <li class="item">
        <div class="product-card-container">
            <img src="./images/9c4721fbb621d43e630199d13e42daae-quality_100Xresize_crop_1Xallow_enlarge_0Xw_680Xh_510.jpg" alt="">
            <div class="product-card-text-container">
                <h4 class="product-card-title">Tomato Boom</h4>
                <button class="product-card-btn">Подробнее</button>
            </div>
        </div>
    </li>
    <li class="item">
        <div class="product-card-container">
            <img src="./images/9c4721fbb621d43e630199d13e42daae-quality_100Xresize_crop_1Xallow_enlarge_0Xw_680Xh_510.jpg" alt="">
            <div class="product-card-text-container">
                <h4 class="product-card-title">Tomato Boom</h4>
                <button class="product-card-btn">Подробнее</button>
            </div>
        </div>
    </li>
    <li class="item">
        <div class="product-card-container">
            <img src="./images/9c4721fbb621d43e630199d13e42daae-quality_100Xresize_crop_1Xallow_enlarge_0Xw_680Xh_510.jpg" alt="">
            <div class="product-card-text-container">
                <h4 class="product-card-title">Tomato Boom</h4>
                <button class="product-card-btn">Подробнее</button>
            </div>
        </div>
    </li>
    <li class="item">
        <div class="product-card-container">
            <img src="./images/9c4721fbb621d43e630199d13e42daae-quality_100Xresize_crop_1Xallow_enlarge_0Xw_680Xh_510.jpg" alt="">
            <div class="product-card-text-container">
                <h4 class="product-card-title">Tomato Boom</h4>
                <button class="product-card-btn">Подробнее</button>
            </div>
        </div>
    </li>
    <li class="item">
        <div class="product-card-container">
            <img src="./images/9c4721fbb621d43e630199d13e42daae-quality_100Xresize_crop_1Xallow_enlarge_0Xw_680Xh_510.jpg" alt="">
            <div class="product-card-text-container">
                <h4 class="product-card-title">Tomato Boom</h4>
                <button class="product-card-btn">Подробнее</button>
            </div>
        </div>
    </li>
    <li class="item">
        <div class="product-card-container">
            <img src="./images/9c4721fbb621d43e630199d13e42daae-quality_100Xresize_crop_1Xallow_enlarge_0Xw_680Xh_510.jpg" alt="">
            <div class="product-card-text-container">
                <h4 class="product-card-title">Tomato Boom</h4>
                <button class="product-card-btn">Подробнее</button>
            </div>
        </div>
    </li>
    <li class="item">
        <div class="product-card-container">
            <img src="./images/9c4721fbb621d43e630199d13e42daae-quality_100Xresize_crop_1Xallow_enlarge_0Xw_680Xh_510.jpg" alt="">
            <div class="product-card-text-container">
                <h4 class="product-card-title">Tomato Boom</h4>
                <button class="product-card-btn">Подробнее</button>
            </div>
        </div>
    </li>
    <li class="item">
        <div class="product-card-container">
            <img src="./images/9c4721fbb621d43e630199d13e42daae-quality_100Xresize_crop_1Xallow_enlarge_0Xw_680Xh_510.jpg" alt="">
            <div class="product-card-text-container">
                <h4 class="product-card-title">Tomato Boom</h4>
                <button class="product-card-btn">Подробнее</button>
            </div>
        </div>
    </li>
</ul>
</div>
</section> 