<!-- <section>
    <div>
    <h2>Популярные товары</h2>
<ul>
    <li>
        <div>
            <img src="" alt="">
            <div>
                <h4>Tomato Boom</h4>
                <button>Подробнее</button>
            </div>
        </div>
    </li>
    <li>
        <div>
            <img src="" alt="">
            <div>
                <h4>Tomato Boom</h4>
                <button>Подробнее</button>
            </div>
        </div>
    </li>
    <li>
        <div>
            <img src="" alt="">
            <div>
                <h4>Tomato Boom</h4>
                <button>Подробнее</button>
            </div>
        </div>
    </li>
</ul>
</div>
</section> -->