<section class="product-section">
    <div class="container">
    <h2 class="product-main-title">Популярные товары</h2>
<ul class="product-popular-list">
    <li class="item">
        <div class="product-card-container">
            <img src="./images/render-photo-1.jpg" alt="">
            <div class="product-card-text-container">
                <h4 class="product-card-title">Tomato Boom</h4>
                <button class="product-card-btn">Подробнее</button>
            </div>
        </div>
    </li>
    <li class="item">
        <div class="product-card-container">
            <img src="./images/render-photo-2.jpg" alt="">
            <div class="product-card-text-container">
                <h4 class="product-card-title">Tomato Boom</h4>
                <button class="product-card-btn">Подробнее</button>
            </div>
        </div>
    </li>
    <li class="item">
        <div class="product-card-container">
            <img src="./images/render-photo-3.jpg" alt="">
            <div class="product-card-text-container">
                <h4 class="product-card-title">Tomato Boom</h4>
                <button class="product-card-btn">Подробнее</button>
            </div>
        </div>
    </li>
</ul>
</div>
</section> 